@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
    background-color: #CED4DA;
    height: 100vh;
}

.landingPage {  
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin-top: 2%;
}

.nav {
    background-color: #000000;
    height: 10vh;
    width: 95vw;
    color: white;
    display: flex;    
    border-radius: 15px;
    position: fixed;
    top: 0;
    margin-top: 2%;
}

.contentList {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-right: 5%;
    list-style: none;
    font-size: 1em;
}
.contentList li a {
    text-decoration: none;
    color: white;
}

.contentList li a:hover {
    color: #8eb3da;
    transition: transform 0.3s ease-in;
}

@media screen and (min-width: 768px) {
    .contentList {
        font-size: 1.5em;
    }
}

.logo {
    font-family: 'Roboto Slab', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1%;
    width: 10%;
}

.logo p {
    
    color: white;
    font-size: 2rem;
    font-style: bold;
}

.aboutMe {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutMe p {
    color: black;
    font-size: 1.5rem;
}

.aboutMe h1 {
    color: #14213D;
}

.landingTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6C757D;
    font-family: Italiana;
    font-size: 3rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.aboutMetest {
    transition: transform 0.3s ease-in;
}

.projects {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.projects h1 {
    color: #14213D;
    font-size: 3rem;
}

.imgBox {
    
    height: 100%;
}

.imgBox video {
    width: 100%;
    height: auto;
}

.projectsGrid {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    width: 90vw;
    height: 80vh;
}

@media screen and (max-width: 768px) {
    .projectsGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100%;
    }
}

.gridBox1, .gridBox2 {
    background-color: white;
    height: max-content;
    animation: fadeIn 2s ease-in;
}
.contactMe {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
}

.contactInfo {
    
}